@font-face
{
 font-family: 'EraserDust';
  src: url(./fonts/EraserDust.ttf) format('truetype');
}
@font-face
{
 font-family: 'EraserRegular';
  src: url(./fonts/EraserRegular.ttf) format('truetype');
}
@font-face
{
 font-family: 'Rudiment';
  src: url(./fonts/EraserRudiment.ttf) format('truetype');
}
@font-face
{
 font-family: 'Sketchy';
  src: url(./fonts/Sketchy.ttf) format('truetype');
}
@font-face
{
 font-family: 'TenThousandReasons';
  src: url(./fonts/TenThousandReasons.ttf) format('truetype');
}
@font-face
{
 font-family: 'TenThousandReasonsAlt';
  src: url(./fonts/TenThousandReasonsAlt.ttf) format('truetype');
}


body, html
{
   display:inline-block;
}

#header
{
   background-image:url('./images/header.png');
   background-repeat:no-repeat;
   width:980px;
   /*height:117px;*/
   /*width:100%;*/
   /*height:100%;*/
   font-family:'TenThousandReasons';
   /*display:inline-block;*/
}

#titles
{
   display:inline-block; /*causes div to expand to the width of its content rather than the available width*/
}

#headerTitle
{
   font-size:35pt;
   padding-left:8px;
   margin:0px;
   color:white;
   /*display:inline;*/
   /*position:absolute;*/
}

#subTitle
{
   font-size:8pt;
   /*padding-left:87px;*/
   margin-top:-15px;
   color:white;
   float:right;
   text-align: right;  /*causes 2nd line of text separated from the first with </br> to align right when inside a div that is floated right*/
}

#headerItems
{
   font-family:'TenThousandReasons';
   font-size:10pt;
   float:right;
   margin-top:0px;
   padding-right:5px;
   padding-top: 10px;
   color:black;
}

#headerItem
{
   /*margin-top:-25px;*/
   /*position:absolute;*/
   display:inline;
   padding-left:23px; /*creates padding between each menu element*/
}
