@font-face
{
 font-family: 'EraserDust';
  src: url(./fonts/EraserDust.ttf) format('truetype');
}
@font-face
{
 font-family: 'EraserRegular';
  src: url(./fonts/EraserRegular.ttf) format('truetype');
}
@font-face
{
 font-family: 'Rudiment';
  src: url(./fonts/EraserRudiment.ttf) format('truetype');
}
@font-face
{
 font-family: 'Sketchy';
  src: url(./fonts/Sketchy.ttf) format('truetype');
}

#customHeader
{
   background-image:url('./images/header.png');
   background-repeat:no-repeat;
   width:980px;
   height:117px;
   font-family:'Sketchy';
   color:white;
   /*display:inline;*/
   /*position:absolute;*/
}

#headerTitle
{
   font-size:42.0pt;
   padding-left:5px;
   /*display:inline;*/
   /*position:absolute;*/
}

#headerItems
{
   font-family:'Rudiment';
   float:right;
   margin-top:-20px;
   padding-right:5px;
}

#headerItem
{
   /*margin-top:-25px;*/
   /*position:absolute;*/
   display:inline;
   padding-left:23px;
}
